body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: blue;
    color: white;
    position: relative;
}
.sm-page {
    width: 980px;
    margin: 0 auto;
    height: auto;
}
.sm-section-one {

/*    padding-left: 80%;*/
    margin-left: 85%;
}
.sm-section-one-heading {
    font-family: arial;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    
        
}

.sm-section-one-paragraph {
    line-height: 25px;
}
.sm-section-two {
    width: 100%;
    
}

.sm-section-two-heading {
    font-family: arial;
    font-size: 20px;
}

.sm-section-one-paragraph {
    font-family: arial;
    font-size: 15px;
    
        
}

.sm-section-two-paragraph {
    font-family: arial;
    font-size: 15px;
}
.sm-section-two-subheading {
    font-family: arial;
    
}

.sm-section-three {
    
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    padding-bottom: 10px;
}

.sm-section-three-heading {
    font-size: 50px;
}

/*FOOTER*/
.sm-footer {
/*    margin-top: 100px;*/
	padding: 30px;
    width: 100%;
	background-color: blue;
	position: relative;
	overflow: hidden;
}

.sm-button {
    margin-left: 20px;
	float: left;
}

.sm-button a {
  text-align: center;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
}

.sm-button a:hover {
  color: blue;
  background-color: white;
  border: 1px solid blue;
  text-decoration: none;
}

.sm-button.js-sm-position {
  background-url: "https://en.wikipedia.org/wiki/Heart_(symbol)#/media/File:Heart_coraz%C3%B3n.svg"; 
  width: 100%;
  margin: 0 auto;
  
 
}
